<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>LA Restaurant Health Inspection Score</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
  <!--link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet"-->
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <div class="wrapper">

      {% include 'menu.html' %}
      
    <div class="hero text-center">
      <h1>Restaurant Health Inspection Score</h1>
      <h2>Los Angeles City</h2>
    </div>
    <div class="container">
      <div class="row margin-top-50">
        <div class="col-md-12">
          <aside class="filters">
            <div class="panel panel-default">
              <div class="panel-heading">Restaurant Search</div>
              <div class="panel-body">
                <div class="form-group">
                  <ul class="list-group" id="filters">
                    <li class="filter list-group-item col-md-3">
                      <label for="date">Enter a Year</label>
                      <input class="form-control" id="FirstName" type="text" placeholder="2018">
                    </li>
                    <li class="filter list-group-item col-md-3">
                      <label for="city">Enter a Shop Name</label>
                      <input class="form-control" id="LastName" type="text" placeholder="WABA GRILL">
                    </li>
                    <li class="filter list-group-item col-md-3">
                      <label for="state">Enter a Score</label>
                      <input class="form-control" id="IDNumber" type="text" placeholder="91">
                    </li>
                    <li class="filter list-group-item col-md-3">
                      <label for="country">Enter a Grade</label>
                      <input class="form-control" id="Message" type="text" placeholder="A">
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </aside>
        </div>
        <div class="col-md-12">
          <div id="table-area" class="">
            <table id="ufo-table" class="table table-striped">
              <thead>
                <tr>
                  <th class="table-head left">Year</th>
                  <th class="table-head left">Facility Name</th>
                  <th class="table-head left">Health Score</th>
                  <th class="table-head left">Health Grade</th>
                  <th class="table-head left">Address</Address></th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <span class="bottom">LA Restaurant Health Inspection Score</span>
    </footer>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
  <script src="/data.js"></script>
  <script src="/app.js"></script>
</body>

</html>